/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    margin: 0 2em;
    color: #444;
}

input[text],
button {
    color: #888;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}